[submodule "src/lib/Koeky3d"]
	path = src/lib/Koeky3d
	url = git@github.com:oysteinkrog/Koeky3D.git
	ignore = untracked
[submodule "src/lib/clpp.net"]
	path = src/lib/clpp.net
	url = git@github.com:oysteinkrog/clpp.net.git	
	ignore = untracked
	branch = master
